/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #FED0BB;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background-color: #8C2F39 ;
}